<div class="w-75 mx-auto py-4">
    <h3>Register Now</h3>
    <form [formGroup]="registerForm" (ngSubmit)="handleRegister(registerForm)">
        
        <label for="name">Name</label>
        <input type="text"id="name" formControlName="name" class=" form-control my-2">
        <div *ngIf="registerForm.get('name')?.touched && registerForm.get('name')?.errors" class="text-center p-1 alert alert-danger">
            <p class="m-0" *ngIf="registerForm.get('name')?.getError('required')">Name is required</p>
            <p class="m-0" *ngIf="registerForm.get('name')?.getError('minlength')">Minimum Length is 3 </p>
            <p class="m-0" *ngIf="registerForm.get('name')?.getError('maxlength')">Maximum Length is 15</p>
        </div>
        <label for="email">Email</label>
        <input type="email" id="email" formControlName="email" class=" form-control my-2">
        <div *ngIf="registerForm.get('email')?.errors && registerForm.get('email')?.touched" class="text-center p-1 alert alert-danger">
            <p class="m-0" *ngIf="registerForm.get('email')?.getError('email')">Invalid email</p>
            <p class="m-0" *ngIf="registerForm.get('email')?.getError('required')">Email is required</p>
        </div>
        <label for="password">Password</label>
        <input type="password"id="password" formControlName="password" class=" form-control my-2">
        <div *ngIf="registerForm.get('password')?.errors && registerForm.get('password')?.touched" class="alert p-1 text-center alert-danger">
            <p class="m-0" *ngIf="registerForm.get('password')?.getError('required')">password is required</p>
            <p class="m-0" *ngIf="registerForm.get('password')?.getError('pattern')">password must start with capital letter and between 5 and 10 character</p>
        </div>
        <label for="rePassword">rePassword</label>
        <input type="password"id="rePassword" formControlName="rePassword" class=" form-control my-2">
        <div *ngIf="registerForm.get('rePassword')?.errors && registerForm.get('rePassword')?.touched" class="alert p-1 text-center alert-danger">
            <p class="m-0" *ngIf="registerForm.get('rePassword')?.getError('required')">rePassword is required</p>
            <p class="m-0" *ngIf="registerForm.get('rePassword')?.getError('pattern')">rePassword must start with capital letter and between 5 and 10 character</p>
        </div>
        <label for="phone">Phone</label>
        <input type="tel"id="phone" formControlName="phone" class=" form-control my-2">
        <div *ngIf="registerForm.get('phone')?.errors && registerForm.get('phone')?.touched" class="alert p-1 text-center alert-danger">
            <p class="m-0" *ngIf="registerForm.get('phone')?.getError('required')">phone is required</p>
            <p class="m-0" *ngIf="registerForm.get('phone')?.getError('pattern')">The phone number must be an Egyptian number</p>
        </div>
        <button type="submit" [disabled]="registerForm.invalid" class="btn btn-info my-3 mx-auto text-white fw-bold">
            <span *ngIf="!isLoading">Register</span>
            <span *ngIf="isLoading"><i class="fa-solid fa-spinner fa-spin"></i></span>
        </button>
        <div *ngIf="isRegistered" class="alert alert-success text-center p-1">
            <p class="m-0">Successfully registered</p>
        </div>
        <div *ngIf="isError" class="alert alert-danger p-1 text-center">
            <p class="m-0">{{errorMsg}}</p>
        </div>

    </form>
    <span>already member? <a class="text-white" routerLink="/login">Login</a></span>
</div>