<div  class="w-75 mx-auto py-4">
    <form id="sendCodeForm" [formGroup]="forgetPassordForm" (ngSubmit)="handleforgetPassword(forgetPassordForm)">
        <h3 class="my-3">Forgot my password form</h3>
        
        <label for="email">Email</label>
        <input type="email" id="email" formControlName="email" class=" form-control my-2">
        <div *ngIf="forgetPassordForm.get('email')?.errors && forgetPassordForm.get('email')?.touched" class="text-center p-1 alert alert-danger">
            <p class="m-0" *ngIf="forgetPassordForm.get('email')?.getError('email')">Invalid email</p>
            <p class="m-0" *ngIf="forgetPassordForm.get('email')?.getError('required')">Email is required</p>
        </div>
        <button type="submit" [disabled]="forgetPassordForm.invalid" class="btn btn-info my-3 mx-auto text-white fw-bold">
            <span *ngIf="!isLoading">Send</span>
            <span *ngIf="isLoading"><i class="fa-solid fa-spinner fa-spin"></i></span>
        </button>
        <div *ngIf="isSent" class="alert alert-success p-1 text-center">
            <p class="m-0">{{responseMsg}}</p>
        </div>
        <div *ngIf="isError" class="alert alert-danger p-1 text-center">
            <p class="m-0">{{errorMsg}}</p>
        </div>
    </form>
    
    <form id="enterCodeForm" *ngIf="isSent" [formGroup]="resetCodeForm" (ngSubmit)="handleReset(resetCodeForm)">
        <h3 class="my-3">Enter the sent code</h3>
        
        <label for="code">Sent code</label>
        <input type="text" id="code" formControlName="resetCode" class=" form-control my-2">
        <div *ngIf="forgetPassordForm.get('resetCode')?.errors && forgetPassordForm.get('resetCode')?.touched" class="text-center p-1 alert alert-danger">
            <p class="m-0" *ngIf="forgetPassordForm.get('resetCode')?.getError('required')">Sent code is required</p>
        </div>
        <button id="codeBtn" type="submit" [disabled]="forgetPassordForm.invalid" class="btn btn-info my-3 mx-auto text-white fw-bold">
            <span *ngIf="!isLoading">submit</span>
            
        </button>
        <div id="codeError"  class="alert alert-danger d-none p-1 text-center">
            
        </div>
    </form>
    <form id="resetPasswordForm" class="d-none" [formGroup]="resetPsswordForm" (ngSubmit)="handleResetPassword(resetPsswordForm)">
        <h3 class="my-3">Enter The new Password</h3>
        <label for="newEmail">Email</label>
        <input type="email" id="newEmail" formControlName="email" class=" form-control my-2">
        <div *ngIf="forgetPassordForm.get('resetCode')?.errors && forgetPassordForm.get('resetCode')?.touched" class="text-center p-1 alert alert-danger">
            <p class="m-0" *ngIf="forgetPassordForm.get('email')?.getError('required')">Sent code is required</p>
            <p class="m-0" *ngIf="forgetPassordForm.get('email')?.getError('email')">Invalid email</p>
        </div>
        <label for="password">New password</label>
        <input type="password" id="password" formControlName="newPassword" class=" form-control my-2">
        <div *ngIf="forgetPassordForm.get('newPassword')?.errors && forgetPassordForm.get('newPassword')?.touched" class="text-center p-1 alert alert-danger">
            <p class="m-0" *ngIf="forgetPassordForm.get('newPassword')?.getError('required')">NewPassword is required</p>
            <p class="m-0" *ngIf="forgetPassordForm.get('newPassword')?.getError('pattern')">Password must start with capital letter and between 5 and 10 character</p>
        </div>
        <button id="newPasswordBtn" type="submit" [disabled]="forgetPassordForm.invalid" class="btn btn-info my-3 mx-auto text-white fw-bold">
            <span *ngIf="!isLoading">submit</span>
            
        </button>
        <div id="NewPasswordMsg"  class="alert alert-danger d-none p-1 text-center">
            
        </div>
    </form>

    <span>not a member? <a class="text-white" routerLink="/register">Register</a></span>
</div>